#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
  position: absolute;
  top: -4rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
  transition: transform 0.6s ease, filter 0.6s ease;
}

/* .bg:hover {
  transform: scale(.05);
  filter: brightness(1.1);
} */

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #FFEB3B;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 50px;
  min-width: 160px;
  justify-content: center;
  font-weight: 500;
  text-transform: uppercase;
}

.btn:hover {
  background-color:#FFD700;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(255, 215, 0, 0.5); 
}

.btnImg {
  width: 20px;
  height: 20px;
}


@media screen and (max-width:840px) {
    .bg {
        right: -10vw
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    
}

@media screen and (max-width:480px) {
    .bg {
        right: -20vw
    }
     .btn {
    width: 100%;              /* Full width on small screen */
    min-width: unset;         /* Remove min-width */
    justify-content: center;  /* Center align */
    font-size: 14px;          /* Smaller font */
    padding: 10px 16px;       /* Smaller padding */
    height: 44px;             /* Adjust height */
  }

}